@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*border: 2px solid rgb(0, 255, 64);*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;
}

.texto-destacado {
  color: rgb(36, 36, 176);
}

/* Estilo para achicar la tabla */
            
th, td {
  padding: 1px; /* Espaciado interior de las celdas */
}

/* Estilo para centrar la tabla */
.tabla-centrada {
  margin: 0 auto; /* Margen horizontal automático para centrar */
}

.tabla-achicada {
margin-left: auto;
margin-right: auto;
/*line-height: 1;*/
/*border: 2px solid rgb(0, 255, 64);*/

}

.uno{
  font-size:1em;
  line-height:0.5em;
}

.dos{
  font-size:1em;
  line-height:1em;
}

.tres{
  font-size:1em;
  line-height:1.5em;
  text-align: justify;
}


/*----------------------------------Inicio linea divisoria---------------------------------------*/  
.barra-divisoria {
  width: 100%;
  height: 3px;
  background-color: #383535;
  margin: 10px 0; /* Márgenes superior e inferior */
  transition: background-color 0.3s; /* Efecto de transición de color al pasar el mouse */
}

.barra-divisoria:hover {
  background-color: #ff6600; /* Cambio de color al pasar el mouse */
}

/*----------------------------------Fin linea divisoria---------------------------------------*/  

/*----------------------------------------------------------------------*/
.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  border: 2px solid #270a91;
  border-radius: 8px;
  padding: 20px;
  width: 22%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.card img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.card p {
  margin-top: 10px;
  /*margin-bottom: 10px;*/
}


/*-------------------------------------------------------------*/
.conteCard1{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #e0dbdbda;
}

.card1 {
  background-color: #ffffffab;
  border: 3px solid #270a91;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  
}

.card1 img {
  margin-top: 30px;
  height: 450px;
}

.card1 p {
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
}





















.active {
  
  font-weight:bolder;
  background: #0c0c0c;
  padding: 6px 28px;
  color: white;
  border-radius: 16px;

}

h1{
  text-align: center;
  margin-top: 0.8 rem;
}

body {
  background: #eff5f5;
  font-family: 'calibri';
 
}

body p{
  padding: 5%;
  line-height: 250%;
}
header {
  background: #03A9F4;
  width: 100%;
  clear: both;
  content:'';
  display: table; 
}

nav {
  float:left;
  align-items:center;
}

.menu {
  margin: auto;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
 
}

.navbarImg {
  width: 80px;
  height: 80px;
  float: left;
  padding: 8px;
  border-radius: 50%;
  
}



nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 27px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}


nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  bottom: 0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}

/*:::::Formulario Contacto*/

form{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #070707;
  
}

h2{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;

}

input, textarea, button {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1rem;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton{
  background: #31384A ;
  color: #fff;
  padding: 20px;
  font-weight:bolder;
}

#boton:hover {
  cursor: pointer;

}

/* css destinos*/

.destinos{
  
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en filas y columnas */
  justify-content: space-evenly; /* Distribuye el espacio entre las imágenes */
  align-items: center; /* Alinea verticalmente en el centro */
  gap: 20px; /* Espacio entre las imágenes */
  padding: 50px;
  }
  

.imagen-con-texto {
  position: relative;
  width: 550px;
  box-shadow: 10px 10px 10px #070707;
}

.imagen-con-texto img {
  max-width: 100%;
  height: auto;
}

.texto-superpuesto {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el texto */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior del texto */
  border-radius: 5px; /* Bordes redondeados para el texto */
}

/*...................carrousel css ......................................*/

.carrousel{
  width: 100%;
  /*border: 2px solid rgb(0, 255, 64);*/
  padding: 20px;
}

.conteCarrousel{
  width: 100%;
  height: 400px;
  overflow: hidden;
  /*border: 2px solid rgb(255, 0, 0);*/
}

.itemCarrousel{
  position: relative;
  width: 100%;
  height: 100%;
  /*border: 2px solid rgb(4, 0, 255);*/
}  

.itemCarrousel img{
  height: 100%;
  border-radius: 50%;
  
}

.itemCarrouselTarjeta{
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  /*align-items: center; /* Centra verticalmente */
}

.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px; 
}

.itemCarrouselArrows > i:hover {
  cursor: pointer;
}

.conteCarrouselController{
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.conteCarrouselController > a{
  text-decoration: none;
  font-size: 2em;
  color: black;
  /*border: 2px solid rgb(0, 255, 64);*/
}

.itemCarrouselArrows > a > i{
  color: black;
  scale: 2;
  /*border: 2px solid rgb(255, 0, 157);*/
}

/*:::::Pie de Pagina*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.pie-pagina .grupo-1 .box figure img{
    width: 120px;
    border-radius: 50%;
   
    
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
   

}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    
    
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
   
    
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
    scale: 1.2;
  
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    

}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.box {
    text-align: center;
}



@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .menu {
      width: auto;
      margin: 0 auto;
    }
    
    header img {
      display: none;
    } 
  
  /*:::::formulario*/  
  @media (max-width:480px) {
    form{
        width: 100%;
      }
    
    }
    

}